2023 these roomates paid the following rents: 

-alfred pays 900
-fatima pays 1200
-trina pays 700

what percentage does trina pay

In [1]:
## calculate here trina's share of the rent

(700 / (900 + 1_200 + 700)) * 100

25.0

In [3]:
trina_rent_percentage = (700 / (900 + 1_200 + 700)) * 100

In [4]:
trina_rent_percentage

25.0

In [8]:
## assign values to variables 

alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [22]:
## can also assign like this, python will automatically map: 

alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [28]:
## call variables

alfred_m
# fatima_monthly_23
# trina_m

900

In [29]:
## calculate trina's shares using variables

trina_monthly_23/(alfred_monthly_23+fatima_monthly_23+trina_monthly_23)*100

25.0

In [32]:
## place result into variable

trina_share_23 = trina_monthly_23/(alfred_monthly_23+fatima_monthly_23+trina_monthly_23)*100
trina_share_23

25.0

In [37]:
## easier to read 
trina_share_23 = \
trina_monthly_23/ (alfred_monthly_23+\
                   fatima_monthly_23+\
                   trina_monthly_23)*100

trina_share_23

25.0

In [36]:
## call it
trina_share_23, alfred_monthly_23, fatima_monthly_23

(25.0, 900, 1200)