2023 these roomates paid the following rents: 

-alfred pays 900
-fatima pays 1200
-trina pays 700

what percentage does trina pay

In [1]:
## calculate here trina's share of the rent

(700 / (900 + 1_200 + 700)) * 100

25.0

In [3]:
trina_rent_percentage = (700 / (900 + 1_200 + 700)) * 100

In [4]:
trina_rent_percentage

25.0

In [8]:
## assign values to variables 

alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [22]:
## can also assign like this, python will automatically map: 

alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [28]:
## call variables

alfred_m
# fatima_monthly_23
# trina_m

900

In [29]:
## calculate trina's shares using variables

trina_monthly_23/(alfred_monthly_23+fatima_monthly_23+trina_monthly_23)*100

25.0

In [32]:
## place result into variable

trina_share_23 = trina_monthly_23/(alfred_monthly_23+fatima_monthly_23+trina_monthly_23)*100
trina_share_23

25.0

In [37]:
## easier to read 
trina_share_23 = \
trina_monthly_23/ (alfred_monthly_23+\
                   fatima_monthly_23+\
                   trina_monthly_23)*100

trina_share_23

25.0

In [36]:
## call it
trina_share_23, alfred_monthly_23, fatima_monthly_23

(25.0, 900, 1200)

# Printing

In [38]:
## print function 

print("hello world")

hello world

In [42]:
## print variables 

print(alfred_monthly_23)
print(trina_m)
print(fatima_m, alfred_m)

900
700
1200 900

# f-string literals (or f-strings)

print(f"Some identifier words: {actual_variable}")

In [44]:
## using f-string
## print total all the monthly rens plus totals using f-strings
print(f"Trina's rent: ${trina_monthly_23}")
print(f"Trina pays {trina_share_23} percent of the total rent!")

Trina's rent: $700
Trina pays 25.0 percent of the total rent!)

In [51]:
## f-string also do calculations 

print (f"The total monthly rent is:\
 ${alfred_monthly_23+fatima_monthly_23+trina_monthly_23:,}\
 and Trina pays {trina_share_23} percent of it.")

The total monthly rent is: $2,800 and Trina pays 25.0 percent of it.

# WORKSHOP

-create a new repo called